.idea/
data/*/images/*.png
data/*/raw/*.pickle
data/*/processed/*.pickle
models/*.pickle

# Gitignore all test files
**/test.py

# Gitignore all pycache files
**/*pycache*

# Gitignore notebook checkpoints
notebooks/.ipynb_checkpoints/

# Gitignore all images in the images/ subfolder
images/*.png
!images/gif_00.png
!images/gif_05.png
!images/gif_13.png
!images/gif_20.png
!images/gif_30.png

# Gitignore all backed-up files
backup/